---
layout: page
title: "Projects"
description: "These are my projects."
header-img: "assets/img/projects-bg.jpg"
---

{% for project in site.projects %}
<div class="post-preview">
    <a href="{{ project.url | prepend: site.baseurl }}">
        <h2 class="project-title">
            {{ project.title }}
        </h2>
        {% if project.subtitle %}
        <h3 class="post-subtitle">
            {{ project.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Joined on {{ project.date | date: "%B %-d %Y" }}, {{ project.position }}, {{ project.company }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Projects</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Projects &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} 

